<!-- <p>navbar works!</p> -->
<div class="container">
  <div class="start">
    <mat-icon>menu</mat-icon>
    <img src="./assets/logo.ico" alt="img"> <h2>You-Tube</h2>
  </div>

  <div class="mid">
    <input type="search" placeholder="search">

    <mat-icon class="searchBtn icon">search</mat-icon>
    <mat-icon  class="micBtn">mic</mat-icon>
  </div>

  <div class="end">
    <mat-icon class="icon">video_call</mat-icon>
    <a href="" routerLink="/signin"><mat-icon  class="icon">grid_on</mat-icon></a>

    <a href=""  routerLink="/signin"><mat-icon  class="icon"> notifications</mat-icon></a>

    <a routerLink="/signin" class="singBtn">  <mat-icon>account_circle</mat-icon> Sign-in</a>

  </div>

</div>
